<!-- src/main/resources/templates/fragments/footer.html -->
<div th:fragment="footer">
    <footer class="py-4 bg-light" role="contentinfo" aria-label="Footer">
        <div class="container d-flex justify-content-between align-items-center flex-nowrap">
            <div class="container text-center">
                <p>📁 "Because your cat videos deserve a safe home too!"</p>

                <p>
                    Crafted with ☕️ and a dash of genius by Aleos. Check out my
                    <a href="https://github.com/aleos-dev/" class="text-black" target="_blank"
                       rel="noopener noreferrer">GitHub</a>
                    |
                    <a href="https://ale-os.com/" class="text-black" target="_blank" rel="noopener noreferrer">Blog</a>
                </p>

                <p class="small text-muted mb-0">© 2024 DropJar. Losing files is so last season!</p>
            </div>
        </div>
    </footer>
</div>