<!-- src/main/resources/templates/fragments/head.html -->
<head th:fragment="head (title)">
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link th:href="@{/resources/bootstrap.min.css}" rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!-- Custom CSS (Loaded After Bootstrap) -->
  <link rel="stylesheet" th:href="@{/resources/css/styles.css}">
  <link rel="stylesheet" th:href="@{/resources/css/auth.css}">
</head>

